.weather-card{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-right: 14px;
    justify-content: space-around;
    background-color: rgb(27,26,29);
    border-radius: 20px;
    width: 12.5%;
}


.weather-card .weather-card-img img{
    width: 90px;
    height: 70px;
}

.weather-card .weather-card-temp,.weather-card-day,.weather-card-img{
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background: transparent;
}

.weather-card .weather-card-day{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3px solid rgb(86, 84, 84);
}



