.hour-card{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-right: 14px;
    justify-content: space-around;
    background-color: var(--gray);
    border-radius: 20px;
    width: 12.5rem;
}


.hour-card .hour-card-img img{
    width: 90px;
    height: 70px;
}

.hour-card .hour-card-temp,.hour-card-day,.hour-card-img{
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background: transparent;
}

.hour-card .hour-card-day{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3px solid rgb(86, 84, 84);
}

.hour-card-temp{
    font-family: 'Quantico', sans-serif;
}


.light-hour-card{
    background-color: rgb(250, 250, 250);
    border: 1px solid orange;
}

.light-hour-card .hour-card-day{
    border-bottom: 1px solid orange;
    font-weight: 700;
}