.mini-nav-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 0rem 2.2rem;
    width: 35vw;
}


.mini-nav-view a{
    color: rgb(118, 121, 124);
}

.mini-nav-view .active{
    color: white;
}

.tab:hover,.tab:active {
    color: var(--blue);
    transition: 0.3s;
}

.mini-nav-view .active{
    color: var(--blue)!important;  
}

.light-mini-nav-view a{
    color: #e78f50;
}

.light-mini-nav-view .active{
    color: #F97F29!important;
    font-weight: 700;
}

.light-mini-nav-view .tab:hover,.tab:active {
    color: #F97F29!important;
    font-weight: 700;
    transition: 0.3s;
}



@media screen and (max-width:900px){
    .mini-nav-view{
        width: 45vw;
    }
}

@media screen and (orientation : portrait){
    .mini-nav-view{
        font-size: 1.1rem;
        width: 80vw;
        padding: 0rem;
    }
}



