.other-city-card{
    box-sizing: border-box;
    width: 100%;
    text-align:center;
    /* min-height: 80px; */
    background-color: #1B1A1D;
    /* border-radius: 20px; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0rem 0.4rem 0rem 0rem;
    border-bottom: 0.4px solid gray;
}



.other-city-card .location-name-condn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding-top: 0.5rem;
}

.other-city-card .location-name-condn span:nth-child(1){
    font-size: 1.5rem;
    padding-top: 0.5rem;
    /* padding-left: 0.9rem; */
    padding-bottom: 12px;
    width: 100%;
}

.other-city-card .location-name-condn span:nth-child(2){
    font-size: 1rem;
    height: 40px;
    text-align: center;
    width: 100%;
}

.other-city-card .location-del-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

.other-city-card .location-weather-img{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0.2rem;
    align-items: center;
}

.other-city-card .location-weather-img span{
    text-align: center;
    font-size: 1.3rem;
    font-family: quantico,sans-serif;
}

.other-city-card .location-weather-img img{
    width: 60px;
    height: 50px;
}


.light-other-city-card{
    background-color: #F7F7F7;
    color: black;
    font-weight: 500;
}


@media screen and (orientation : portrait){
    .other-city-card{
        box-sizing: border-box;
        width: 10rem;
        margin-left: 1px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        border-bottom: 0px;
    }

    .other-city-card .location-name-condn{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        padding: 10px 20px ;
        justify-content: center;
    }

    .other-city-card .location-name-condn span:nth-child(1){
        font-size: 1.2rem;
        padding-bottom: 12px;
    }

    .other-city-card .location-name-condn span:nth-child(2){
        font-size: 0.8rem;
        height: 40px;
    }

    .other-city-card .location-weather-img img{
        width: 70px;
        height: 50px;
        margin-bottom: 1rem;
    }
    .other-city-card .location-weather-img{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }


    .other-city-card .location-del-icon i{
        text-align: center;
    }

    .other-city-card .location-del-icon{
        width: 100%;
        background-color: var(--blue);
        color: black!important;
        font-weight: 800!important;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0.8rem 0rem;
    }

    .light-right-secn .other-city-card .location-del-icon{
        background-color: var(--orange);
    }



}