.tommorow-card{
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 1.7rem 2rem;
    width: 90%;
    height: max-content;
    margin-bottom: 2.2rem;
    background-color: var(--gray);
    height: 30%;
    margin-left: 3%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media screen and (orientation : portrait){
    .tommorow-card{
        width: 100%;
        padding: 1.2rem 1.2rem;
        margin-left: 0%;
    }
}