.tomorrow-card{
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 1rem 1.8rem;
    width: 90%;
    /* height: 40rem; */
    margin-bottom: 2.2rem;
    background-color: var(--gray);
    height: 35%;
    margin-left: 3%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.light-tomorrow-card{
    background-color: #eedfc7f1;
}

.light-tomorrow-card *{
    color: black;
    font-weight: 600;
}

.tomorrow-card .left-section-tomorrow {
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 0rem 2rem 0rem 0.5rem;
    justify-content: space-between;
}

.tomorrow-card .left-section-tomorrow .weather-condition-displayer{ 
    box-sizing: border-box;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0rem 2rem 0rem 1rem;
    height: 100%;
}


.tomorrow-card .right-section-tomorrow{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.tomorrow-card .right-section-tomorrow .tomorrow-other-condn {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.8rem;
}

.tomorrow-card .right-section-tomorrow .tomorrow-other-condn .property{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgb(68, 68, 68);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.tomorrow-card .right-section-tomorrow .city-name-tomorrow{
    font-size: 2.5rem;
    text-align: center;
}

.tomorrow-card .right-section-tomorrow .city-name-tomorrow{
    font-size: 2.5rem;
    text-align: center;
}

.tomorrow-card .right-section-tomorrow .tomorrow-other-condn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.tomorrow-card .left-section-tomorrow .temp-displayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tomorrow-card .left-section-tomorrow .temp-displayer span:nth-child(1){
    font-size: 3rem;
    font-family: quantico,sans-serif;
}

@media screen and (orientation : portrait){

    .tomorrow-card{
        width: 100%;
        padding: 0.8rem 0.8rem;
        margin-left: 0%;
    }

    .tomorrow-card .left-section-tomorrow{
        width: 20%;
        font-size: 1rem;
    }

    .tomorrow-card .left-section-tomorrow .weather-condition-displayer span:nth-child(1){
        display: none;
    }

    .tomorrow-card .left-section-tomorrow .temp-displayer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .tomorrow-card .left-section-tomorrow .temp-displayer span:nth-child(1){
        font-size: 1.5rem;
        font-family: quantico,sans-serif;
        margin-top: 2rem;
        padding-left: 1.2rem;
    }

    .tomorrow-card .left-section-tomorrow .temp-displayer span:nth-child(2){
        display: none;
    }

    .tomorrow-card .right-section-tomorrow .tomorrow-other-condn{
        display: none;
    }

    .tomorrow-card .right-section-tomorrow .city-name-tomorrow{
        font-size: 2rem;
    }
    
    .tomorrow-card .right-section-tomorrow {
        width: 90%;
    }

    .tomorrow-card .right-section-tomorrow .city-name-tomorrow{
        font-size: 2rem;
    }
}