.weather-news-card{
    box-sizing: border-box;
    width: 100%;
    /* min-height: 60p/x; */
    background-color: #1B1A1D;
    padding: 1rem 0.8rem;
    border-bottom: 0.4px solid gray;
}

.weather-news-card:last-child{
    border-bottom: 0px solid gray;
}

.light-weather-news-card{
    background-color: #F7F7F7;
    color: black;
    font-weight: 500;
}

@media screen and (orientation : portrait){
    .weather-news-card{
        box-sizing: border-box;
        /* width: 25rem; */
        margin-left: 1px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem;
        border-bottom: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
}