.hourly-cards{
    width: 70%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 4rem; */
}

.light-hour-weather-section{
    color: black;
}

.hourly-cards::-webkit-scrollbar{
    display: none;
}

.heading-for-hour{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.1px;
} 

.light-hour-weather-section{
    color: black;
}

@media screen and (orientation : portrait){
    .hourly-cards{
        width: 100%;
        margin-top: 0.5rem;
        padding: 1.2rem 0.5rem 1.2rem 0rem;
        margin-left: 0%;
        overflow-x: scroll;
    }
}