.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5.1vh;
    padding: 0.7rem 0.8rem 0.8rem 0.8rem;
}

.light-nav{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 0.9rem 0.8rem 0.9rem 0.8rem;
}


/* Left Section of navbar */

.nav-bar .nav-left-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-left-sec .nav-icons{
    background-color: rgb(35,35,37);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.light-nav .nav-left-sec .light-icons{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid gray;
}


.nav-bar .nav-left-sec .curr-loc-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 200;
    margin-left: 20px;
}

.nav-bar .nav-left-sec .curr-loc-name strong{
    margin-right: 10px;
}

.nav-bar .nav-left-sec .loc-pin{
    margin-right: 10px;
    font-size: 0.9rem;
}


/* Mid Section of navbar  */

.nav-bar .nav-mid-sec{
    display: flex;
    width: 270px;
    height: 100%;
    align-items: center;
    background-color: rgb(30,30,30);
    justify-content: center;
    border-radius: 30px;
}

.light-nav .light-nav-mid-sec{
    background-color: #F6F6F6;
}

.nav-bar .nav-mid-sec .search-bar{
    width: 75%;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 5%;
    color:white;
    font-size: 1.1rem;
}

.light-nav .light-nav-mid-sec .light-search-bar{
    color:black;
}


/* Right Section of Navbar */

.nav-bar .nav-right-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 18%;
}

.nav-bar .mode-toggler{
    display: flex;
    height: 100%;
    align-items: center;
    background-color: rgb(30,30,30);
    width: 95px;
    border-radius: 30px;
    font-size: 1.4rem;
    justify-content: space-between;
}

.nav-bar .mode-toggler i{
    padding: 10px 14px;
}

.nav-bar .mode-toggler .dark-active{
    background-color: var(--blue);
    color: black;
    border-radius: 50%;
}

.light-nav .mode-toggler .light-active{
    color:rgb(60, 58, 58);
    background-color: rgb(60, 58, 58);
    border-radius: 50%;
}

.light-nav .mode-toggler .dark-active{
    z-index: 1;
    background-color: transparent;
    color: gray;
}



.nav-bar .nav-right-sec .user-img{
    height: 100%;
    border-radius: 50%;
}


@media screen and (orientation : portrait){
    .nav-bar {display: flex; justify-content: space-between; width: 100vw;}
    .nav-bar .nav-left-sec{display: none;}
    .nav-bar .nav-mid-sec{width: 70%;}
    .nav-bar .nav-right-sec .mode-toggler{display: none;}
}

/* @media screen and  (max-width: 900px){
    .nav-bar .nav-left-sec{display: none;}
    .nav-bar .nav-mid-sec{width: 70%;}
    .nav-bar .nav-right-sec .mode-toggler{display: none;}
} */