body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* FIXING FEW COLORS TO BE USED FREQUENTLY */
:root {
  --blue: rgb(213,231,245);
  --orange: #F97F29;
  --black:#1A1A1A;
  --gray:  #282828;
}



/* TO DIVIDE MAIN SECTION OF PAGE INTO 2 SCREENS AND MAINTAING IT FOR DARK THEME */

main{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 1.1rem 1.1rem 1.2rem 1.1rem;
  width: 100%;
  min-height: 89vh;
}

header{
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.react-app{
  background-color: var(--black);
  /* background-color: rgb(255, 255, 255); */
  color: white;
  padding: 0rem 0rem 0rem 0rem;
}

.light-react-app{
  /* background-color: var(--black); */
  background-color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color:white;
}



.alert-box {
	padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;  
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.failure {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  /* display: none; */
}





@media screen and (orientation : portrait){
  main{
    display: flex;
    flex-direction: column;
  }

  .react-app{
    padding: 0rem 0rem;
  }

  header{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-left:0.8rem;
    padding-right:0.8rem;
  }

  .nav-bar{
    height: 8vh!important;
  }
}