.weather-item-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.7rem 0.8rem;
    width: 100%;
    height: max-content;
    margin-bottom: 1rem;
    overflow-x: auto;

}

.active-weather-item-cards{
    background-color: #F7F7F7;
    margin-top: 1rem;
}

.weather-item-cards::-webkit-scrollbar{
    display: none;
}

@media screen and (orientation : portrait){
    .weather-item-cards{
        width: 100%;
        margin-top: 0.5rem;
        padding: 1.2rem 0.5rem 1.2rem 0rem;
        margin-left: 0%;
        overflow-x: scroll;
    }
}